# Node files

node_modules/
npm-debug.log

# Wordpress files

public/*
!public/.htaccess
!public/wp-content

public/wp-content/*
!public/wp-content/themes

public/wp-content/themes/*
!public/wp-content/themes/project-theme