# OS X

.DS_Store

# Node

node_modules/
npm-debug.log

# Bower

bower_components/

# Wordpress

public/*
!public/.htaccess
!public/wp-content/

public/wp-content/*
!public/wp-content/themes/

public/wp-content/themes/index.php

# Theme

public/wp-content/themes/*/.tmp/
public/wp-content/themes/*/assets/
public/wp-content/themes/*/vendor/
