<!-- Sequential boxes: core -->

<script type="text/ng-template" id="sequential-boxes.html">
    <div class="sequential-boxes">
        <div ui-sortable ng-model="data">
            <div ng-repeat="dataSet in data" class="sequential-box">
                <button ng-click="remove(dataSet)" class="button-icon button-delete" type="button">
                    <span class="dashicons dashicons-trash"></span>
                </button>

                <div ng-repeat="field in fields">
                    <ng-include src="(( 'field-' + field.type + '.html' ))"></ng-include>
                </div>
            </div>
        </div>

        <div ng-click="add()" ng-class="{clear: data.length % 3 == 0}" class="sequential-box sequential-box-add">
            <div ng-repeat="field in fields">
                <ng-include src="(( 'field-' + field.type + '.html' ))"></ng-include>
            </div>

            <input class="button button-add" type="button" value="Ajouter">
        </div>
    </div>

    <input type="hidden" name="(( name ))" value="(( data ))">
</script>

<!-- Sequential boxes: fields -->

<script type="text/ng-template" id="field-text.html">
    <label>
        <strong>(( field.label ))</strong> <br>
        <input ng-model="dataSet[field.name]" type="text">
    </label>
</script>

<script type="text/ng-template" id="field-textarea.html">
    <label>
        <strong>(( field.label ))</strong> <br>
        <textarea ng-model="dataSet[field.name]"></textarea>
    </label>
</script>

<script type="text/ng-template" id="field-upload.html">
    <upload-box label="(( field.label ))" ng-model="dataSet[field.name]"></upload-box>
</script>

<script type="text/ng-template" id="field-post.html">
    <post-box label="(( field.label ))" ng-model="dataSet[field.name]"></post-box>
</script>

<!-- Upload button -->

<script type="text/ng-template" id="upload-box.html">
    <div ng-click="openModal()" class="upload-box">
        <input ng-if="!binded" type="hidden" name="(( name ))" value="(( image | json ))">
        <img ng-show="image" ng-src="(( image.url ))">
        <input ng-hide="image" class="button" type="button" value="(( label ))">
    </div>
</script>

<!-- Post selector -->

<script type="text/ng-template" id="post-box.html">
    <div class="post-box">
        <input ng-if="!binded" type="hidden" name="(( name ))" value="(( post.id ))">

        <label>
            <strong>(( label ))</strong> <br>

            <button ng-click="modal.open()" ng-disabled="loading" class="button-icon" type="button">
                <span class="dashicons dashicons-edit"></span>
            </button>

            <div ng-class="{'post-box-loading': loading}"
                 class="post-box-title"
                 title="(( post.title ))">
                <span class="spinner"></span>
                <span ng-if="post.title">(( post.title ))</span>
                <em ng-if="!post.title">Aucun contenu lié</em>
            </div>
        </label>

        <!-- The wpLink API always needs an input to output the link -->
        <input ng-attr-id="(( inputId ))" type="text">
    </div>
</script>
