<!--[if lte IE 8]>
    <div id="outdated-browser">
        <div class="close"
             onclick="document.getElementById('outdated-browser').parentNode.removeChild(document.getElementById('outdated-browser'));">
             Fermer
        </div>

        La version de votre navigateur est obsolète et l'affichage de ce site peut être dégradé. <br>
        Nous vous invitons à <a href="http://www.whatbrowser.org/intl/fr/">mettre à jour votre navigateur</a> afin de profiter d'un affichage optimal.
    </div>
<![endif]-->
